</div>
<footer>
    <div class="container">
        <div class="footer-title">BLOGEJST</div>
        <a class="footer-email" href="mailto:acharyaroshan2357@gmail.com">acharyaroshan2357@gmail.com</a>
    </div>
</footer>


<script src="/js/prism.js"></script>
<script>
    document.querySelector('#side-toggle').addEventListener('click', e => {
        document.querySelector('#nav-items').classList.toggle('show-bar')
        document.querySelector('#back').classList.toggle('back')
    })
    document.querySelector('#back').addEventListener('click', e => {
        document.querySelector('#back').classList.remove('back')
        document.querySelector('#nav-items').classList.remove('show-bar')
    })

</script>

</body>

</html>