</div>
<footer>
    <div class="container">
        <div class="footer-title">BLOGEJST</div>
        <a class="footer-email" href="mailto:acharyaroshan2357@gmail.com">acharyaroshan2357@gmail.com</a>
    </div>
</footer>

<script src="/js/prism.js"></script>

</body>

</html>