<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">
    <title><%= pageTitle %> | Blogejst</title>
</head>

<body>
    <div>

        <nav id="navbar">
            <div class="container">
                <div class="logo"><a href="/">Blogejst</a></div>
                <ul id="nav-items">
                    <% if (!isAuthenticated) { %>
                    <li class="nav-item"><a href="/auth/login">Login</a></li>
                    <li class="nav-item"><a href="/auth/signup">Signup</a></li>
                    <% }else { %>
                    <li class="nav-item"><a href="/create">Create</a></li>
                    <li class="nav-item"><a href="/me">Profile</a></li>
                    <li class="nav-item">
                        <form action="/auth/logout" method="POST">
                            <button type="submit">
                                Logout
                            </button>
                        </form>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>