<%- include('./includes/header.ejs') %>

<div class="error">
  <h2 class="error__found">Opps! Page not found.</h2>
  <h1 class="error__code">404</h1>
  <p class="error__message">We can't find the page you're looking for.</p>
  <a href="/" class="error__back">Home</a>
</div>

<%- include('./includes/footer.ejs') %>
