<%- include('./includes/header.ejs') %>


<div class="container centered">
    <div class="auth-form">
        <div class="form-title">FORGET PASSWORD</div>
        <form method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" autocomplete="off">
                <%- errors.email && `<span class="error-text">${errors.email}</span>` %>
            </div>
            <button class="form-submit" type="submit">SUBMIT</button>
        </form>
    </div>
</div>

<%- include('./includes/footer.ejs') %>