<%- include('./includes/header.ejs') %>


<div class="container centered">
    <div class="auth-form">
        <div class="form-title">CHANGE PASSWORD</div>
        <form method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off">
                <%- errors.password && `<span class="error-text">${errors.password}</span>` %>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off">
                <%- errors.confirmPassword && `<span class="error-text">${errors.confirmPassword}</span>` %>
            </div>
            <button class="form-submit" type="submit">SUBMIT</button>
        </form>
    </div>
</div>

<%- include('./includes/footer.ejs') %>