/* 
#0d1110 
#43241a
#8c5c43
#93806e
#d0cec1
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0c3c1;
  font-family: 'Poppins', sans-serif;
}

input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #d0c3c1;
}

.container {
  width: 90%;
  max-width: 750px;
  margin: auto;
}

#navbar {
  background: #43241a;
}

#navbar .logo {
  color: #d0c3c1;
  text-transform: uppercase;
}

#navbar .container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

#nav-items {
  display: flex;
  list-style: none;
}

.nav-item a {
  padding: 10px;
}

.nav-item a:hover {
  background: #0d1110;
}

.centered {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  max-width: 300px;
  margin: auto;
  background-color: #93806e;
  padding: 20px;
  flex: 1;
  color: #0d1110;
  border: 1px solid #0d1110;
}

.form-title {
  text-align: center;
  font-size: 25px;
}

.form-control {
  margin: 10px 0;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  padding: 7px 5px;
  border: none;
  margin-top: 2px;
}

.form-control input:disabled {
  color: #444;
}

input:focus {
  outline-color: #43241a;
  outline-width: 1px;
}

.form-submit {
  width: 100%;
  padding: 7px 0;
  margin-top: 10px;
  border: 1px solid #43241a;
  background: transparent;
}

.form-submit:hover {
  background: #43241a;
  cursor: pointer;
  color: #fff;
}

.error-text {
  color: rgb(117, 8, 8);
  font-size: 13px;
}

.blog-items a {
  color: #0d1110;
}

.blog-item {
  padding: 5px 20px;
  border: 1px solid #43241a;
  margin: 15px 0;
  border-radius: 10px;
  transition: 0.2s;
}

.blog-item-title {
  font-size: 25px;
  margin-bottom: 5px;
}

.blog-item-date-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-item-date-author span {
  height: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: rgb(66, 65, 65);
  font-size: 13px;
}

.blog-item-date-author img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-item-description {
  margin-top: 10px;
  padding-top: 10px;
  color: #4e4c4a;
}

.blog-item:hover {
  background: #44261c44;
}
