/* 
#0d1110 
#43241a
#8c5c43
#93806e
#d0cec1
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0c3c1;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #d0c3c1;
}

.container {
  width: 90%;
  max-width: 750px;
  margin: auto;
}

#navbar {
  background: #43241a;
}

#navbar .logo {
  color: #d0c3c1;
  text-transform: uppercase;
}

#navbar .container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

#nav-items {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item a,
.nav-item button {
  padding: 10px;
  background: none;
  font-size: 16px;
  border: none;
  display: inline-block;
  line-height: 16px;
  color: #fff;
}

.nav-item a:hover,
.nav-item button:hover {
  background: #0d1110;
  cursor: pointer;
}

.centered {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  max-width: 350px;
  margin: auto;
  background-color: #93806e;
  padding: 20px;
  flex: 1;
  color: #0d1110;
  border: 1px solid #0d1110;
}

.form-title {
  text-align: center;
  font-size: 25px;
}

.form-control {
  margin: 10px 0;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  padding: 7px 5px;
  border: none;
  margin-top: 2px;
}

.form-control input:disabled {
  color: #444;
}

input:focus {
  outline-color: #43241a;
  outline-width: 1px;
}

.form-submit {
  width: 100%;
  padding: 7px 0;
  margin-top: 10px;
  border: 1px solid #43241a;
  background: transparent;
}

.form-submit:hover {
  background: #43241a;
  cursor: pointer;
  color: #fff;
}

.error-text {
  color: rgb(117, 8, 8);
  font-size: 13px;
}

.blog-items a {
  color: #0d1110;
}

.blog-item {
  padding: 5px 20px;
  border: 1px solid #43241a;
  margin: 15px 0;
  border-radius: 10px;
  transition: 0.2s;
}

.blog-item-title {
  font-size: 25px;
  margin-bottom: 5px;
}

.blog-item-date-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-item-date-author span {
  height: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: rgb(66, 65, 65);
  font-size: 13px;
}

.blog-item-date-author img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-item-description {
  margin-top: 10px;
  padding-top: 10px;
  color: #4e4c4a;
}

.blog-item:hover {
  background: #44261c44;
}

footer {
  background-color: #b3a39e;
  text-align: center;
  padding: 20px 0;
}

.footer-title {
  font-weight: 600;
  font-size: 20px;
  color: #0d1110;
}

.footer-email {
  text-decoration: underline;
  color: #0d1110;
}

/* BLOG PAGE */

.blog-title {
  margin: 10px 0;
}

.blog-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.blog-info-author {
  display: flex;
  align-items: center;
  color: #1d1c1c;
}

.blog-author-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-author-img img {
  width: 50px;
}

.blog-content {
  margin: 20px 0;
  overflow-x: hidden;
}

.blog-content a {
  color: brown;
  text-decoration: underline;
}

.blog-content img {
  max-height: 400px;
}

blockquote {
  background: #af7c7cc0;
  border-left: 5px solid brown;
  padding: 15px 10px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button,
.buttons a {
  margin-top: 5px;
  padding: 0px 10px;
  border: 1px solid #888;
  color: #111111;
  display: inline-block;
  margin-right: 10px;
  background-color: #f4f4f4;
  line-height: 30px;
  font-size: 16px;
}

.blog-comment {
  margin-bottom: 20px;
  border: 2px solid #888;
  padding-top: 10px;
  background-color: #d0cec1;
  padding: 20px;
}

.comment-form {
  padding: 5px;
}

.comments {
  max-height: 300px;
  overflow: auto;
  border-radius: 5px;
  padding: 5px;
}

.comment {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #f4f4f4;
}

.comment .img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 2px solid crimson;
  margin-right: 10px;
  border-radius: 50%;
}

.comment .img img {
  height: 40px;
  width: 40px;
}

.comment .user_name {
  font-weight: bold;
  font-size: 14px;
}

.action-buttons {
  display: flex;
}

.action-buttons .link-btn {
  margin-right: 10px;
  font-size: 13px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: underline;
}

.modal {
  position: fixed;
  max-width: 500px;
  width: 80%;
  top: 0%;
  padding: 20px;
  background: #dac5b2;
  left: 50%;
  transform: scale(0.9) translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 15;
}

.show-modal {
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  pointer-events: all;
  top: 20%;
}

.highlight {
  border: 1px solid crimson;
}
